.ships, .aims{
  position: absolute;
  top: 50px;
  width: $w;
  height: $w;
  .item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: $w-grid;
    width: $w-grid;
    z-index: 10;
    &.big{
      background-image: url('https://hexschool.github.io/course-demo-flex/img/ship-m.png');
    }
    &.sm{
      background-image: url('https://hexschool.github.io/course-demo-flex/img/ship-s.png');
    }
    &.power{
      background-image: url('https://hexschool.github.io/course-demo-flex/img/circle-m.png');
    }
    &.normal{
      background-image: url('https://hexschool.github.io/course-demo-flex/img/circle-s.png');
    }
    &.hex{
      background-image: url('https://hexschool.github.io/course-demo-flex/img/hex.png');
    }
    &.crown{
      background-image: url('https://hexschool.github.io/course-demo-flex/img/crown.png');
    }
  }
  .island{
    background-image: url(../img/island.png);
    width: $w;
    height: $w;
    background-size: cover;
    position: relative;
    .hex{
      position: absolute;
      top: 50%;
    }
  }
  .camp{
    border-radius: 3px;
    border: $w/100 solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    display: flex;
    .area-sleep{
      background-color: rgba(64,187,106,0.2);
    }
    .area-work{
      background-color: rgba(254,100,110,0.2);
    }
  }
  
}